
TwitchIRCGame/Assets/Scripts/Managers/.idea/.idea.Managers.dir/.idea/encodings.xml
TwitchIRCGame/Assets/Scripts/Managers/.idea/.idea.Managers.dir/.idea/indexLayout.xml
TwitchIRCGame/Assets/Scripts/Managers/.idea/.idea.Managers.dir/.idea/vcs.xml
