
TwitchIRCGame/Assets/Scripts/Managers/.idea/.idea.Managers.dir/.idea/encodings.xml
TwitchIRCGame/Assets/Scripts/Managers/.idea/.idea.Managers.dir/.idea/indexLayout.xml
TwitchIRCGame/Assets/Scripts/Managers/.idea/.idea.Managers.dir/.idea/vcs.xml
.idea/.idea.EONI_TwitchIRCGameProject.dir/.idea/encodings.xml
.idea/.idea.EONI_TwitchIRCGameProject.dir/.idea/indexLayout.xml
.idea/.idea.EONI_TwitchIRCGameProject.dir/.idea/vcs.xml
TwitchIRCGame/UserSettings/EditorUserSettings.asset
TwitchIRCGame/UserSettings/Layouts/default-2021.dwlt
